@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed&display=swap');

 * {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
 }

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #211557 14.50%, #7179f1 85.50%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 22px;
}

.imagem-cabecalho {
    height: 64px;
}

.menu-navegacao {
    display: flex;
    gap: 48px;
}

.menu-item {
    font-family: 'Roboto Condensed', sans-serif;
    color: azure;
    font-weight: 400;
    font-size: 20px;
}

.conteudo {
    margin-bottom: 40px;
    border-top: 0.4px solid rgb(188, 190, 190);
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 36px; 
    
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    color: azure;
    font-size: 68px;
    font-weight: 400;
    
}
.conteudo-principal-escrito-subtitulo {
    font-family: 'Roboto Condensed', sans-serif;
    color: azure;
    font-size: 18px;
    font-weight: 100;        
}
.conteudo-principal-escrito-botao {
    background-color: azure;
    width: 190px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgb(204, 200, 241);
}

.imagem-bot-conteudo-principal{
    height: 360px;
    margin-top: 50px;
}

.conteudo-secundario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 36px;
    margin-top: 64px;
}
.conteudo-secundario-titulo{
    border-top: 0.4px solid rgb(188, 190, 190);
    padding-top: 52px;
    font-family: 'Roboto Condensed', sans-serif;
    color: azure;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 16px; 
}
.conteudo-secundario-paragrafo{
    font-family: 'Roboto Condensed', sans-serif;
    color: azure;
    font-size: 18px;
    font-weight: 300;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid rgb(188, 190, 190);
}
.imagem-rodape{
    display: block;
    margin: 0 auto;
    height: 128px;
}